<!DOCTYPE html>
<html>
<head>
    <title>Edit Item</title>
</head>
<body>
    <h1>Edit Item</h1>
    <form action="/edit/<%= item._id %>?_method=PUT" method="POST">
        <input type="text" name="name" value="<%= item.name %>" required>
        <button type="submit">Update</button>
    </form>
</body>
</html>
